$global-link-color: #f51212;

@import 'theme-colors';
$theme-font: apercu, sans-serif;

body {
  font: $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
      color: $themeColor-Dark
  }
}